 
body{
  font-family: 'BhuTuka Expanded One', cursive;
  font-family: 'Playfair Display', serif;
  margin: 0px 0px 0px 0px;
}
.title{
  margin: 15px 18px 15px 12px;
  height: 130px;
  width: 280px;
  display: flex;
}
.title h1{
  margin-top: 25px;
  margin-left: 10px;
  line-height: 25px;
  text-align: center;}
.title img{
  height: 60px;
  margin-left: -6px;
  margin-top: 10px;
}
body {
  display: block;
  background: url('https://img2.gratispng.com/20180305/zqq/kisspng-monarch-butterfly-greta-oto-clip-art-butterfly-5a9d633bb3bfc3.5217932015202639957363.jpg') 420px 420px;
  color: red;
  font-size: 10px;
  font-weight: 400;
 
}
table {
  font-size: 14px;
  bbackground: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color: #669;
  padding: 9px 8px;
}
button{
  display: block;
  background-color: red;
  border: 1px solid #e86;
  border-radius: 15px;
  box-shadow: 0px 0px 15px black;
  color: #00ff00;
}
.blok{
  display: block;
  width: 150px;
  background-color: #000;
  border-radius: 15px;
}
.text{
  margin-top: 15px;
  color: #fff;
  text-align: center;
}
.menu{
  margin-top: 32px;
  display: block;
  display: flex;
  background-color: blue;
  border-radius: 12px;
  margin: 20px;
  color: #fff;
}
.houm{
 margin-left: 38px;
}
.content{
  margin-left: 55px;
}
.morch{
  margin-left: 55px;
}
.menu img{
  margin-left: 1.5px;
  margin-top: 10px;
  margin-bottom: 1px;
  height: 20px;
  color: blue;
}
.vk{
  color: black;
  margin-top: 12px;
  display: block;
  dbackground-color: #f8f8f8;
}
.horder{
  margin-left: 83px;
  display: flex;
}
.horder button{
  display: block;
  margin-top: 12px;
  margin-left: 5px;
  color: black;
}
.vk__content{
  display: flex;
}

.vk__navigator button{
  display: block;
  margin-bottom: 12px;
  color: #000;
  height: 20px;
  width: 130px;
  text-align: center;
  color: black;
}
.vk__navigator{
  width: 87px;
  margin: 12px 0px 12px 0px;
}
.vk__content__str{
  margin-left: 50px;
  width: 150px;
}
.clok{
  margin-top: 80px;
  font-family: Arial;
  font-weight: 700;
  font-size: 14px;
  color: black;
}
.clok__one h3{
  margin-top: 0px;
  margin-left: 3px;
}
.pozitory{
  display: block;
  display: flex;
  width: 321px;
  background-color: #568585;
}
.clok__info{
  margin-top: 15px;
  margin-left: 3px;
}
.war702{
  display: block;
  margin-left: 12px;
  height: 170px;
  background-color: #568585;
}
.Daniel_Klein{
  display: block;
  margin-top: 0px;
  gbackground-color: #631285;
  
}
.Daniel_Klein p{
  display: block;
  bbackground-color: #fff;
  margin-left: 60px;
  text-align: center;
  height: 120;
  width: 200px;
  font-weight: 400;
}
.Daniel_Klein h3{
  margin-top: 12px;
  margin-left: 65px;
}
.Daniel_Klein img{
  margin: 0px 115px;
  height: 150px;
}
.Daniel_Klein button{
  display: block;
  background-color: black;
  margin-left: 132px;
  margin-bottom: 12px;
}
.Daniel_Klein a{
  text-decoration: none;
  color: #fff;
}
.cssSlider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 70vmin;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 100%;
	height: 70vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 100%;
	height: auto;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
	z-index: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssSlider .thumbnails > li {
	float: left;
	width: 20%;
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: auto;
}

.cssSlider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}